/* GENERAL */
* {
	text-align: center;
	font-family: 'Open Sans', sans-serif, serif;
}
.tw {   /* texto blanco */
	color: #fff;
}
.tBL {  /* texto azul claro */
	color: #97afff;
}
.tBD {  /* texto azul oscuro */
	color: #6987a4;
}
.pd-3 {
	padding: 3% 0;
}
.m-7 {
	margin: 7% 0;
}

/*  HEADER */
.opacity {
	background: rgba(59, 61, 91, 0.6);
}
header{
	background-image: url(../image/large.jpg);
	background-size: 100%;
}
.fH {
	font-size: 2.7em;
}
.opB {
	background: rgba(82, 141, 211, 0.9);
}

/* SERVICES */
.circle {
	font-size: 3em;
	border-radius: 70%;
	margin: 1%;
	padding: 5%;
	box-shadow: -2px 2px 2px #f2f2f2;
}
